@import "../../sass/container-modifiers";
.layout-grid{
    display:grid;
    @include genmodifiers();
   // min-height: 100%;
    /*Warning, if a grid is has auto cell or row IT WILL NOT GROW To 100% if the child isnot at 100%*/
  //  height:100%;
 //   max-height:100%;

    &--r3c1{
        grid-template-columns: 100%;

        grid-template-areas:
        "top"
        "center"
        "bottom";
    }




}
