@import "../../sass/container-modifiers";
.container-modal{
  position: absolute;
  @include genmodifiers();

  &--bottom{
    bottom:0px;
  }



  /* never goes more than the viewport*/
  &--contained{
    max-width:100%;
    max-height:100%;
    overflow:hidden;
  }


  &--scrollable{
    overflow:auto;
  }
}
