@use "reset.scss";
@import "container-modifiers.scss";


.layout-grid{
    display:grid;
    @include genmodifiers();


}

.fullscreen{
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    width:100%;
    overflow:hidden;
    @include genmodifiers();
}